* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.service {
    display: flex;
    background-color: #ebe3cc;
    padding: 100px 0;
    color: #062d3e;

    // .service__container
    &__container {
        max-width: 1600px;
        margin: 0 auto;
    }
    // .service__title
    &__title {
        margin-bottom: 50px;
        margin-left: 50px;
        font-family: Neue Montreal;
        font-size: 46px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 2.76px;
    }
    // .service__cards
    &__cards {
        display: flex;
        gap: 30px;
        overflow: auto;
        background-image: url(), url(), url();

        background-position: 100px 100px, 20px 20px, 0 0;
    }
    // .service__card
    &__card {
        border: 1px solid #000;
        flex-basis: 50%;
        flex-shrink: 0;
        padding: 32px;
        border-radius: 66px;
        // clip-path: inset(0% 45% 0% 45% round 10px);
        // https://yandex.ru/search/?text=clip+path+border+radius&clid=2411726&lr=54

        &:first-child {
            background-color: #fbbd08;
            background-image: url("../img/icon-2.svg");
            background-repeat: no-repeat;
            background-position: 100% 100%;

            & .service__card-button {
                color: #ebe3cc;
                background-color: #062d3e;
            }
        }
    }

    &__card-img-wrapper {
        padding: 20px 23px 17px 18px;
        border-radius: 50%;
        background-color: #ebe3cc;
        display: inline-block;
        margin-bottom: 36px;
    }

    // .service__card-img
    &__card-img {
        max-width: 70px;
        height: 74px;
        // object-fit: ;
    }
    // .service__card-title
    &__card-title {
        margin-bottom: 16px;
    }
    // .service__card-text
    &__card-text {
        margin-bottom: 38px;
    }
    // .service__card-button
    &__card-button {
    }
}
