* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'josefin sans';
}


.service {
    display: flex;
    background-color: #ebe3cc;
    padding: 100px 0;
    color: #062d3e;

    // .service__container
    &__container {
        max-width: 1600px;
        margin: 0 auto;
    }
    // .service__title
    &__title {
        margin-bottom: 50px;
        margin-left: 50px;
        font-family: Neue Montreal;
        font-size: 46px;
        font-weight: 500;
        line-height: 38px;
        letter-spacing: 2.76px;
    }
    // .service__cards
    &__cards {
        display: flex;
        gap: 30px;
        overflow: auto;
        background-image: url(), url(), url();

        background-position: 100px 100px, 20px 20px, 0 0;
    }
    // .service__card
    &__card {
        border: 1px solid #000;
        flex-basis: 50%;
        flex-shrink: 0;
        padding: 32px;
        border-radius: 66px;
        // clip-path: inset(0% 45% 0% 45% round 10px);
        // https://yandex.ru/search/?text=clip+path+border+radius&clid=2411726&lr=54

        &:first-child {
            background-color: #fbbd08;
            background-image: url("../img/icon-2.svg");
            background-repeat: no-repeat;
            background-position: 100% 100%;

            & .service__card-button {
                color: #ebe3cc;
                background-color: #062d3e;
            }
        }
    }

    &__card-img-wrapper {
        padding: 20px 23px 17px 18px;
        border-radius: 50%;
        background-color: #ebe3cc;
        display: inline-block;
        margin-bottom: 36px;
    }

    // .service__card-img
    &__card-img {
        max-width: 70px;
        height: 74px;
        // object-fit: ;
    }
    // .service__card-title
    &__card-title {
        margin-bottom: 16px;
    }
    // .service__card-text
    &__card-text {
        margin-bottom: 38px;
    }
    // .service__card-button
    &__card-button {
    }
}


.header {
    padding: 28px 0 50px;
    background: url("../img/dog.png") right center / 496px 705px no-repeat, url("../img/hero-backgr.png") right bottom / auto no-repeat;
    background-color: #ebe3cc;

    &__container {
        max-width: 1100px;
        margin: 0 auto;
    }

    &__nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 90px;
    }

    &__logo {
        font-size: 21px;
        color: #062D3E;
    }

    &__menu {
        display: flex;
        gap: 44px;
    }

    &__menu-item {
        text-decoration: none;
        color: #062D3E;
        font-size: 14px;
    }

    &__menu-item:hover {
        color: #fff;
    }
    &__button-sign-up {
        padding: 12px 32px;
        color: #fff;
        background-color: inherit;
        border: 2px solid #fff;
        border-radius: 190px;
        font-size: 20px;
    }

    &__info {
        // max-width: 700px;
        margin-bottom: 100px;
    }

    &__places {
        font-size: 24px;
        color: #189CAB;
        margin-bottom: 52px;
        margin-left: 103px;
    }

    &__places::before {
        content: '';
        background-image: url("../img/arrow.svg");
        width: 67px;
        height: 48px;
        display: inline-block;
        transform: translate(-10px, 35px);
    }

    &__title {
        font-size: 96px;
        color: #062D3E;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    &__title-accent {
        color: #ED5C01;
        font-weight: normal;
    }

    // &__title-accent::after {
    //     content: '';
    //     display: inline-block;
    //     // background-image: url('./img/bigorangetrail.svg');
    //     width: 148px;
    //     height: 145px;
    // }

    &__title-accent::after {
        content: '';
        display: inline-block;
        width: 148px;
        height: 145px;
        // background-color: #062D3E;
        background-image: url(../pet/img/bigorangetrail.svg);
    }

    &__button-learn-more {
        padding: 16px 36px;
        font-size: 20px;
        background-color: #ED5C01;
        color: #fff;
        border-radius: 247px;
        line-height: 38px;
        border: inherit;
    }
}

.parenting {
    background: url("../img/curl.svg") left center / 186px 57px no-repeat, url("../img/whitetrail.svg") right bottom 5% / 212px 229px no-repeat;
    background-color: #189CAB;
    padding: 100px 0;

    &__container {
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        gap: 66px;
    }

    &__image {
        max-width: 561px;

    }

    &__text {
        margin-top: 11px;
    }

    &__text-title {
        font-size: 46px;
        font-weight: 600;
        line-height: 60px;
        color: #EBE3CC;
        margin-bottom: 25px;
    }

    &__text-description {
        font-size: 22px;
        font-weight: 500;
        line-height: 34px;
        color: #EBE3CC;
        margin-bottom: 25px;
    }

    &__text-list {
        font-size: 22px;
        font-weight: 500;
        color: #EBE3CC;
        margin-bottom: 38px;
    }

    &__text-item {
        margin-bottom: 25px;
        // line-height: 30px;
        list-style-type: none;
    }

    &__text-item::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-image: url('../img/point.svg');
        background-position: center;
        background-repeat: no-repeat;
        padding-left: 11px;
    }

    &__text-item:last-child {
        margin-bottom: 0;
    }

    &__btn-explore {
        font-size: 20px;
        font-weight: 500;
        color: #EBE3CC;
        line-height: 38px;
        letter-spacing: .09em;
        padding: 12px 32px;
        border-radius: 190px;
        background-color: #062D3E;
        border: none;
    }
}
